<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upcwangying.plugin.asr" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="16898128" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="iOKbkjb9aM7odT6i3U81yP7I" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="zGcoBfnqwa6Q8rB8RXknHKDk3EPVb8tk" />

        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
    </application>

</manifest>
